@import url(style-tasks.css);

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(63.18deg, #472F9F 0%, #0070E4 20%, #009FDF 50%, rgba(0, 197, 146, 0.72) 65%, rgba(78, 224, 0, 0.86) 85.97%) no-repeat;
    height: 100vh;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.7em;
}

.container {
    display: flex;
}

.container-main,
.container-search {
    justify-content: center;
    align-items: center;
}

.container-secundary,
.container-tasks {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container-main-tarefas,
.section-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main {
    height: 100%;
    padding: 25px;
}

.container-secundary,
.container-search, 
.container-tasks,
.tarefas {
    border-radius: 10px;
}

.container-secundary {
    background: rgba(255, 255, 255, 0.34);
    min-width: 400px;
    width: 900px;
    height: 550px;
    padding: 25px;
}

.container-search {
    background-color: #E5E5E5;
    height: 65px;

    margin: 10px 0px;
    padding: 15px;
}

#input_search {
    font-size: 17.5px;
    width: 650px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    padding: 0 15px;
}

#input_search::placeholder {
    color: black;
    font-weight: bold;
    font-size: 17.5px;
}

#input_search:focus {
    outline: 0;
}

#button_search {
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    padding-right: 15px;
    height: 40px;
    width: 50px;
}

#button_search img {
    height: 20px;
    cursor: pointer;
}

.container-tasks {
    background-color: #E5E5E5;
    height: 300px;
    flex-direction: column;
}

#container-main-tarefas {
    height: 250px;
    width: 100%;

    overflow: auto;
    padding: 15px;
}

.section-tasks {
    width: 100%;
}

#tasks::after {
    background-color: #0070E4;
    display: block;
    content: '';
    
    height: 2px;
    width: 90%;
    margin: 20px 0;
}

.add-task {
    align-self: flex-end;
}

#adicionar_tarefa {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 0px 15px 10px 0px;
}

.container-search,
.container-tasks,
#entradas-pesquisa {
    width: max(90%, 400px);
}