@import url(style-tasks.css);

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(63.18deg, #472F9F 0%, #0070E4 20%, #009FDF 50%, rgba(0, 197, 146, 0.72) 65%, rgba(78, 224, 0, 0.86) 85.97%) no-repeat;
    height: 100vh;
}

.flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.34);
    border-radius: 10px;
    width: 900px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container h1 {
    font-size: 2.5em;
}

.container-pesquisa {
    background-color: #E5E5E5;
    border-radius: 10px;
    width: 750px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#entrada-pesquisa {
    font-size: 17.5px;
    width: 650px;
    height: 40px;
    padding-left: 15px;
}

#entrada-pesquisa::placeholder {
    color: black;
    font-weight: bold;
    font-size: 17.5px;
}

#entrada-pesquisa:focus {
    outline: 0;
}

#botao-pesquisa {
    background-color: white;
    height: 40px;
    width: 50px;
}

#botao-pesquisa img {
    height: 20px;
    cursor: pointer;
}

#container-principal {
    background-color: #E5E5E5;
    width: 750px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#container-principal-tarefas {
    height: 250px;
    overflow: auto;
    justify-content: space-around;
}

.container-principal-h2 {
    margin: 10px 0px -10px 0px;
}

#container-tarefas {
    width: 100%;
    /* height: 125px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-tarefas-feitas {
    border-top: 1px solid blue;
    margin: 22.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}